.quantity{
    display: inline;
}

.quantityButton {
    height: 40px;
    width: 40px;
    border-style: hidden;
}

.quantityInput {
    height:34px;
    width: 34px;
    border-style: hidden;
    text-align: center;
}