.title {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

.imageAndDescriptionContainer {
    display: flex;
    margin-bottom: 1em;
}

.image img {
    max-width: 300px;
    max-height: 300px;
}

.description {
    padding-left: 2em;
}

.price {
    font-size: 1.3em;
}

.quantityText {
    margin: 1.5em 0;
}